//globals
$yellow:#FFD81B;
$blue:#E7E9FA;
$grey:#818383;
$black:#110E11;
$boxShadow1: rgba(149, 157, 165, 0.2) 0px 8px 24px;
$boxShadow2:rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');
body{
    background-color: $blue;
    margin: 0;
    padding: 0;
}