//globals
$yellow: #ffd81b;
$blue: #eff2fc;
$blue2: #f3f5fc;
$grey: #818383;
$black: #110e11;
$boxShadow1: rgba(137, 148, 160, 0.445) 0px 8px 24px;
$boxShadow2: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
$boxShadow3: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
  rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap");
* {
  list-style-type: none !important;
}
body {
  background-color: $blue;
  position: relative;

  width: 100%;
}
// finix added item
.all{
  line-height: 12px;
  font-size: 14px;
  position: relative;
  img{
    object-fit: contain;
    height: 150px;
    width: 100%;
    // background-color: RED;
    
  }
 
  .discount{
    text-decoration: line-through;
    font-size: 14px;
    color: $grey;
  }
  .cart-add{
    border-radius: 0.3rem;
    background-color: $yellow;
    padding: 0.5rem;
    box-shadow: $boxShadow2;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .cart-add:hover{
    background-color: #c7ab22;
  }
}
.cart-img{
  width: 70px;
  height: 70px;
  object-fit: contain;
}
ul {
  padding: 0;
}
button {
  background: none;
  border: none;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.justify-sb {
  display: flex;
  justify-content: space-between;
}
.fw-600 {
  font-weight: bold;
}
.my-20 {
  margin: 20px 0px;
}
/*scroll bar */

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(24, 24, 24, 0.4);
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* -webkit-border-radius: 10px; */
  background: white;
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(24, 24, 24, 0.4);
}

//finix nav
.my-grid {
  width: 100%;
}
.counter-p {
  position: relative;
  display: none !important;
}
.counter {
  position: absolute;
  font-size: 0.44rem;
  background-color: $yellow;
  border-radius: 50%;
  color: $black;
  top: -0.5rem;
  right: -0.3rem;
  padding: 0.2rem;
}

//first section
.sect1 {
  .productsCont {
    padding: 10px;
    .product {
      width: 50%;
    //   height: 150px;
      min-width: 150px;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 10px;
      margin: 10px;
      border-radius: 8px;
      box-shadow: $boxShadow1;
      &:hover {
        box-shadow: $boxShadow3;
      }
    }
  }
}
.roundedBtn {
  position: fixed;
  bottom: 30px;
  right: 20px;
  padding: 20px;
  background-color: $black;
  border-radius: 50%;
  button {
    position: relative;
    width: 20px;
    height: 20px;
    font-size: 24px;
    margin: 0 auto;
    padding: 0;
    color: #fff;
    span {
      position: absolute;
      right: -8px;
      top: -8px;
      width: 16px;
      height: 16px;
      background-color: $yellow;
      border-radius: 50%;
      font-size: 12px;
      font-weight: 600;
      color: #000;
    }
  }
}
.cartModal {
  display: none;
  position: fixed;
  z-index: 100;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: #ffffffa9;
  > div {
    position: fixed;
    padding: 20px;
    z-index: 100;
    bottom: 0;
    width: 100%;
    height: 92vh;
    background: $blue;
    color: $black;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 1px,
      rgba(209, 213, 219, 0.678) 0px 0px 0px 1px inset;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    .closeCartCont {
      position: sticky;
      top: 0;
      z-index: 100;
      width: 100%;
      height: 40px;
      background: $blue;
      .closeCart {
        position: absolute;
        cursor: pointer;
        right: 0;
        top: -15px;
        width: 20px;
        height: 20px;
        font-size: 22px;
        font-weight: 600;
      }
    }
  }
  .cartItemsCont {
    height: 80%;
    position: relative;
    overflow-y: scroll;

    > h2 {
      font-size: 32px;
    }
    .cartBody {
      display: flex;
      position: relative;
      .cartItems,
      .summary {
        background: white;
        border-radius: 8px;
      }
      .cartItems {
        width: 100%;
        ul li {
          padding: 20px;
          display: flex;
          justify-content: space-between;
          box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
        }
      }
      .summary {
        display: none;
        width: 40%;
        height: 300px;
        position: sticky;
        top: 0;
      }
    }
  }

  .cartFooterCont {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 20px;
    padding: 0px 20px;
    background-color: $blue;
  }
  .totalCont {
    padding-top: 20px;
    ul {
      li {
      }
    }
  }
  .divider {
    width: 100%;
    height: 1px;
    background-color: $grey;
    margin: 10px 0px;
  }
  .total {
    .totalAmt {
      font-size: 18px;
      font-weight: bold;
    }
  }
  .checkoutBtn {
    margin-top: 20px;
    background-color: $black;
    color: $blue;
    border-radius: 12px;
    width: 100%;
    font-weight: bold;
    // max-width: 600px;
    padding: 10px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 1200px) {
  .product {
    width: 33.3% !important;
    min-width: calc(33.3% - 20px) !important;
    max-width: calc(33.3% - 20px) !important;
  }
}
@media (min-width: 768px) {
  .roundedBtn {
    display: none;
  }
  .counter-p {
    position: relative;
    display: inline-block !important;
  }
  .cartModal {
    > div {
      overflow-y: scroll;
    }
  }
  .cartBody {
    min-height: 80% !important;
    .cartItems {
      margin-right: 20px;
      min-height: 80%;
    }
    .summary {
      display: flex !important;
    }
  }
  .cartFooterCont {
    display: none !important;
  }
}

@media only screen and (min-width: 992px) {
  .product {
    width: 25% !important;
    min-width: calc(25% - 20px) !important;
    max-width: calc(25% - 20px) !important;
  }
}
@media only screen and (min-width: 1200px) {
}
